body {
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}
/* ========começo do header =============*/
header{
    width: 100%;
    position: fixed;
    z-index: 999;
    box-shadow: 0px 5px 20px rgb(119, 116, 116);
  }
  a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  a:hover {
    opacity: 0.5;
  }
  
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 30%;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #23232e;
    height: 8vh;
  }
  
  main {
    background: url("bg.jpg") no-repeat center center;
    background-size: cover;
    height: 92vh;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
    width: 100%;
    height: 25%;
    transition: .4s;
    
  }
  
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #23232e;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .nav-list li:hover{
      background-color: rebeccapurple;
      transition: .7s;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
/*========================================*/  
.main {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
}
.contato {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    background-color: rgba(56, 0, 74, 0.325);
    
}
/*========LEFT==========*/
.left {
    width: 45%;
    height: 90%;
}
.left div {
    width: auto;
    height: 15%;
    display: flex;
    align-items: center;
    margin-left: 20px;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.left div i {
    width: 40px;
    height: 40px;
    font-size: 25px;
    cursor: pointer;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10000px;
}
.left div i:hover{
    background-color: rgb(7, 92, 92);
    color: aliceblue;
    transition: .4s;

}
/*=========================*/
hr {
    flex-direction: column;
    height: 95%;
    width: 3px;
    background-color: aliceblue;
}
/*=============RIGHT=============*/
.right {
    width: 55%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nameInput, .emailInput {
    height: 10%;
    width: 70%;
    background-color: rgb(35, 35, 46);
    color: aliceblue;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
}
textarea {
    color: aliceblue;
    background-color: rgb(35, 35, 46);
    margin-top: 10px;
    height: 40%;
    width: 70%;
    border-radius: 5px;
    
}
button {
    margin-top: 20px;
    height: 10%;
    width: 70%;
    background-color: rgb(136, 98, 175);
    color: aliceblue;
    border-radius: 5px;
    border: none;
}
button:hover{
    background-color: rebeccapurple;
    transition: .4s;
}










