body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
form{
    background-color: darkcyan;
    padding: 20px;
    width: 400px;
}
div{
    height: 60px;
}
p{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
input{
    height: 30px;
    width: 80%;
    border-radius: 10px;
    border: none;
}